@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <title>AsterCell</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/themify.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/flag-icon.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link id="color" rel="stylesheet" href="~/css/color-1.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7"><img class="bg-img-cover bg-center" src="~/images/login/2.jpg" alt="looginpage"></div>
            <div class="col-xl-5 p-0">
                <div class="login-card login-dark">
                    <div>
                        <div><a class="logo text-start" href="index.html"><img class="img-fluid for-light" src="~/images/logo/logo.png" alt="looginpage"><img class="img-fluid for-dark" src="~/images/logo/logo_dark.png" alt="looginpage"></a></div>
                        <div class="login-main">
                            <form asp-route="login" class="theme-form">

                                <input type="hidden" asp-for="ReturnUrl"/>

                                <h4>Hesaba giriş yap</h4>
                                <p>Giriş yapmak için email ve şifrenizi giriniz</p>
                                <div class="form-group">
                                    <partial name="_ValidationSummary" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Username" class="col-form-label"></label>
                                    <input class="form-control" placeholder="Email" type="email" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="col-form-label"></label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>

                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group mb-0">
                                        <div class="checkbox p-0">
                                            <input asp-for="RememberLogin">
                                            <label class="text-muted" asp-for="RememberLogin">
                                                Beni Hatırla
                                            </label>
                                        </div>
                                    </div>
                                }

                                <button class="btn btn-primary btn-block w-100" name="button" value="login">Giriş Yap</button>

                                <p class="mt-4 mb-0 text-center">Hesabınız yok mu?<a class="ms-2" href="sign-up.html">Hesap oluşturun</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="~/js/icons/feather-icon/feather.min.js"></script>
        <script src="~/js/icons/feather-icon/feather-icon.js"></script>
        <script src="~/js/config.js"></script>
        <script src="~/js/script.js"></script>
    </div>
</body>
</html>